#Spinner {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  background-image: url('../../images/spinner.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  opacity: 0;
  display: block;
}
#Spinner.d-show {
  opacity: 1;
  height: 80px;
  width: 80px;
  transition: opacity 0.5s ease-out;
}
#Spinner.d-hide {
  opacity: 0;
  width: 0;
  height: 0;
  transition: opacity 0.5s ease-out, width 0.1s linear 1s, height 0.1s linear 1s;
}
