.table,
.deployment-table {
  max-width: 900px;
  min-width: 100%;
  overflow: scroll;
}
.deployment-table thead tr,
.deployment-table thead th {
  text-transform: capitalize;
  border-top: none;
  border-bottom: none !important;
  color: #fff;
  background: #444447;
  padding: 3px;
}
.deployment-table tbody th,
.deployment-table tbody td {
  color: #cecdcd;
  padding: 3px 7px;
  font-weight: 300;
}
.deployment-table tbody tr th,
.deployment-table tbody tr td {
  text-align: center;
  background: #35353d;
  border: none;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}
.deployment-table tbody tr th:first-child,
.deployment-table tbody tr td:first-child {
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
.deployment-table tbody tr th:last-child,
.deployment-table tbody tr td:last-child {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
