#Price {
  box-sizing: border-box;
  max-width: 50%;
  width: 100%;
  text-align: center;
  opacity: 0.5;
  letter-spacing: 1.3px;
  margin-right: 10px;
}
#Price.current {
  border: 0.5px solid #9a9a9a;
  opacity: 1;
}
#Price h3 {
  margin: 0;
  font-weight: lighter;
  font-size: 20px;
  background-color: #546e7a;
  padding: 15px;
  color: #fff;
}
#Price h4 {
  margin: 0;
  font-weight: lighter;
  font-size: 49px;
  color: #fff;
  padding: 30px;
  background-color: #333;
  line-height: 40px;
}
#Price h4 span {
  font-size: 16px;
  font-style: italic;
}
#Price h4 span.currency {
  font-style: normal;
  font-size: 39px;
}
